* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent !important;
  overflow: hidden;
}

body {
  background-color: transparent !important;
}

.wizard-sprite {
  width: 232px;
  height: 145px;

  background-image: url("/wizard_attack.png");
  background-repeat: no-repeat;

  image-rendering: pixelated;

  animation: wizardAttack 1s steps(8) infinite;

  transform: scale(1.5);
  transform-origin: top left;
}

@keyframes wizardAttack {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1856px;
  }
}